@{
    ViewData["Title"] = "Home Page";
}

    <h1>
        What to secure today?
    </h1>
    <p>
        Client to access a Web API protected by Azure AD using Authentication Contexts
        Sample to control access to a Web API using the Microsoft identity platform.
    </p>
